[buildout]
index = http://packages.lizardsystem.nl
find-links = http://packages.lizardsystem.nl/coverage-3.4a1.tar.gz
extends =
    http://packages.lizardsystem.nl/kgs/1.24/versions.cfg
unzip = true
prefer-final = true
versions = versions
extensions =
    mr.developer
    buildout-versions
parts =
    sysegg
    django
    omelette
    console_scripts
    pyflakes
    pylint
    sphinx
develop = .
eggs =
     lizard-waterbalance

auto-checkout = timeseries

[sources]
timeseries = git git@github.com:nens/timeseries.git
nens = svn https://office.nelen-schuurmans.nl/svn/Products/Library/py-nens/trunk/

[versions]
# Specific pins
lizard-fewsunblobbed = 1.10
lizard-map = 1.79
lizard-shape = 1.11
lizard-ui = 2.1.3
lizard-waterbalance =
timeseries = 0.7
# Reported by buildout-versions
errorhandler = 1.1.1
logilab-astng = 0.23.0
logilab-common = 0.56.2
mock = 0.7.2
pylint = 0.25.0
unittest2 = 0.5.1
xlrd = 0.7.1
xlutils = 1.4.1
xlwt = 0.7.2


[sysegg]
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    PIL
    matplotlib
    numpy


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_waterbalance
projectegg = lizard_waterbalance
settings = testsettings
test = lizard_waterbalance xmlmodel
eggs =
     ${buildout:eggs}
    coverage > 3.3.1


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    coverage > 3.3.1
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'

[pylint]
recipe = zc.recipe.egg
eggs =
     ${buildout:eggs}
     pylint
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]

[sphinx]
recipe = collective.recipe.sphinxbuilder
eggs =
     lizard-waterbalance
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
interpreter = ${buildout:directory}/bin/python
