{% if previous_url %}
<div>
  <a class="back-to-multiple"
     href="{{ previous_url }}">Terug naar overzicht</a>.
{% endif %}

{% if messages %}
{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}
{% endif %}

<form method="POST"
      action="{{ form_url }}"
      id="edit-sub-form">
  {% csrf_token %}
  <table class="generic-table">
    <tbody>
      {% for item in fixed_items %}
      <tr>
        <th title="{{ item.title }}">
          {{ item.name }}
        </th>
        <td>
          {{ item.value }}
        </td>
      </tr>
      {% endfor %}
      {% if form %}
      {% for field in form %}
      <tr>
        <th title="{{ field.help_text }}">
          {{ field.label }}
        </th>
        <td>
          {{ field }}
          {{ field.errors }}
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
  {% if form %}
  <p>
    <input type="submit"
           id="edit-sub-form-submit"
           value="Opslaan" />
  </p>
  {% endif %}
</form>
