{% extends "lizard_ui/lizardbase.html" %}

{% block content %}
<div id="form">

  <!-- the tabs -->
  <ul class="tabs css-tabs">
    <li><a href="{% url waterbalance_area_edit_sub_conf area %}">Algemeen</a></li>
    <li><a href="{% url waterbalance_area_edit_sub_openwater area %}">Open water</a></li>
    <li><a href="{% url waterbalance_area_edit_sub_buckets area %}">Bakjes</a></li>
    <li><a href="{% url waterbalance_area_edit_sub_out area %}">Posten uit</a></li>
    <li><a href="{% url waterbalance_area_edit_sub_in area %}">Posten in</a></li>
    <li><a href="{% url waterbalance_area_edit_sub_labels area %}">Labels en concentraties</a></li>
    <li><a href="{% url waterbalance_area_edit_sub7 area %}">Referentiemeetreeksen</a></li>
  </ul>

  <!-- tab "panes" -->
  <div class="panes">
    <div></div>
  </div>


</div>
{% endblock %}
