{% extends "lizard_ui/lizardbase.html" %}

{% block content %}
<div id="form">

  <!-- the tabs -->
  <ul class="tabs css-tabs">
    <li><a href="{% url waterbalance_area_edit_sub1 waterbalance_area.slug %}">Algemeen</a></li>
    <li><a href="{% url waterbalance_area_edit_sub2 waterbalance_area.slug %}">Open water</a></li>
    <li><a href="#">Bakjes</a></li>
    <li><a href="#">In- en output</a></li>
    <li><a href="#">Labels en concentraties</a></li>
    <li><a href="#">Referentiemeetreeksen</a></li>
  </ul>
  
  <!-- tab "panes" -->
  <div class="panes">
    <div></div>
  </div>
  

</div>
{% endblock %}
