{# Waterbalance area summary view: small map on the left to show selection; graphs on the right #}
{% extends "lizard_map/lizardgis.html" %}
{% load markup i18n %}

{% block subtitle %} {{ water_body.name }} {% endblock %}

{% block portal-tabs %}
{{ block.super }}
<div id="portal-tab-selected" data-selected="#portal-tab-waterbalance"></div>
{% endblock portal-tabs %}

{% block sidebar %}
<div class="sidebarbox">
  <h2>
    Info
    <span class="ss_sprite ss_calendar_view_day sidebarbox-action-icon popup-trigger"
          rel="#summary-datepicker">&nbsp;</span>
  </h2>
  <div>
    <div class="date-popup popup popup-fat"
         id="summary-datepicker">
      <h1>Datumkeuze</h1>
      <div>
        <form action="{% url lizard_map.set_date_range %}"
              method="post">
          {% csrf_token %}
          {{ date_range_form.as_p }}
          <p><input type="submit" value="Nieuwe periode" /></p>
        </form>
      </div>
    </div>
    <dl>
      <dt>Naam</dt>
      <dd>{{ waterbalance_area.name }}</dd>
      <dt>Oppervlak</dt>
      <dd>{{ waterbalance_area.open_water.surface }} m2</dd>
    </dl>
  </div>
</div>
<div class="sidebarbox">
  <h2>Bakjes</h2>
  <div>
    <dl>
      <dt>Ongedraineerd</dt>
      <dd>2950181 m2</dd>
      <dt>Gedraineerd</dt>
      <dd>3697465 m2</dd>
      <dt>Verhard</dt>
      <dd>1217463 m2</dd>
    </dl>
    <form method="POST"
          action="{% url waterbalance_graph_recalculate_data waterbalance_area.slug %}"
          id="recalculate-form">
      {% csrf_token %}
      <input type="submit"
             value="Bereken grafiekdata opnieuw"
             id="recalculate-submit"/>
    </form>
    <br />
    <!-- TODO: add ajax interaction instead of effectively reloading
         this page upon submit. -->
  </div>
</div>
<div class="sidebarbox sidebarbox-stretched">
  <h2>Grafieken</h2>
  <div>
    <form method="POST"
          action="{% url waterbalance_graph_select %}"
          id="graphtype-select-form">
      {% csrf_token %}
      <ul class="without-bullets">
        {% for formitem in graph_type_formitems %}
        <li>
          <input id="{{ formitem.id }}"
                 type="checkbox"
                 value="{{ formitem.value }}"
                 name="graphs"
                 {% if formitem.disabled %}
                 disabled="true"
                 {% endif %}
                 />
          <label for="{{ formitem.id }}">
            {{ formitem.label }}
          </label>
        </li>
        {% endfor %}
      </ul>

      <input type="hidden"
             name="area"
             value="{{ waterbalance_area.slug }}" />
      <input type="submit" name="submit" value="Toon" id="graph-type-select-submit" />
    </form>
  </div>
</div>

{% endblock %}


{% block content %}
<div id="evenly-spaced-vertical">
  <p>Selecteer links grafieken.</p>
</div>
{% endblock %}
