{% extends "lizard_ui/lizardbase.html" %}

{% block content %}
<div id="form">

  <!-- the tabs -->
  <ul class="tabs css-tabs">
    <li><a href="{% url waterbalance_area_edit_sub1 waterbalance_area.slug %}">Algemeen</a></li>
    <li><a href="{% url waterbalance_area_edit_sub2 waterbalance_area.slug %}">Open water</a></li>
    <li><a href="{% url waterbalance_area_edit_sub3 waterbalance_area.slug %}">Bakjes</a></li>
    <li><a href="{% url waterbalance_area_edit_sub4 waterbalance_area.slug %}">In- en output</a></li>
    <li><a href="{% url waterbalance_area_edit_sub5 waterbalance_area.slug %}">Labels en concentraties</a></li>
    <li><a href="{% url waterbalance_area_edit_sub6 waterbalance_area.slug %}">Referentiemeetreeksen</a></li>
  </ul>
  
  <!-- tab "panes" -->
  <div class="panes">
    <div></div>
  </div>
  

</div>
{% endblock %}
